{% extends 'base.html.twig' %}

{% block title %}Amigo - nouveau membre{% endblock %}

{% block body %}
    <h1 class="table-titre">Créer un nouveau membre du bureau</h1>

    {{ include('_ADMIN/bureau_admin/_form.html.twig') }}

{% endblock %}
