{% extends 'base.html.twig' %}

{% block title %}Amigo - Compétences{% endblock %}

{% block body %}
    <h1 class="table-titre">Liste des compétences</h1>

    <table class="crud-table">
        <a href="{{ path('app_competence_admin_new') }}" class="crud-table-add" style="left: 60%">+</a>
        <thead>
            <tr>
                <th></th>
                <th>Compétence</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.id }}</td>
                <td>{{ competence.libelleCompetence }}</td>
                <td>
                    <a href="{{ path('app_competence_admin_show', {'id': competence.id}) }}">Consulter</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune compétence n'existe pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
