{% extends 'base.html.twig' %}

{% block title %}Amigo - Créer compétence{% endblock %}

{% block body %}
    <h1 class="table-titre">Créer une nouvelle compétence</h1>

    {{ include('_ADMIN/competence_admin/_form.html.twig') }}

{% endblock %}
