{% extends 'base.html.twig' %}

{% block title %}Amigo - modifier l'offre{% endblock %}

{% block body %}
    <h1 class="table-titre">Modifier l'offre</h1>

    {{ include('_ADMIN/offre_admin/_form.html.twig', {'button_label': 'Modifier les informations'}) }}


{% endblock %}
