{% extends 'base.html.twig' %}

{% block title %}Amigo - publier une offre{% endblock %}

{% block body %}
    <h1 class="table-titre">Créer une nouvelle offre</h1>

    {{ include('_ADMIN/offre_admin/_form.html.twig') }}


{% endblock %}
