<form style="margin-top: 2rem" class="delete-form" method="post" action="{{ path('app_challenge_admin_delete', {'id': challenge.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce challenge ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ challenge.id) }}">
    <button class="btn">Supprimer</button>
    <button class="btn"><a href="{{ path('app_challenge_admin_edit', {'id': challenge.id}) }}">Modifier</a></button>
</form>
