{% extends 'base.html.twig' %}

{% block title %}Amigo - nouveau challenge{% endblock %}

{% block body %}
    <h1 class="table-titre">Créer un nouveau challenge</h1>

    {{ include('_ADMIN/challenge_admin/_form.html.twig') }}

{% endblock %}
